<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>

</head>

<body>
	<p>Hello, {{.User.Login}}</p>
	<p>
		{{if not .User.Email}}
      It looks like you don't have a public email. That's cool.
		{{else}}
			It looks like your public email address is {{.User.Email}}.
		{{end}}
	</p>
	<p>
		{{if not .Emails}}
      Also, you're a bit secretive about your private email addresses.
		{{else}}
			With your permission, we were also able to dig up your private email addresses:
			{{range .Emails}}
        <p>{{.Email}} (verified: {{.Verified}})</p>
			{{end}}
		{{end}}
	</p>
</body>

</html>
